<div id="welcome">
  <div class="container-fluid">
    <div id="form-message">
      <form action="" method="post">
        <div class="d-flex">
          <div class="flex-grow-1">
            <div class="form-group">
              <input type="text" class="form-control" name="msg" :value="msg" v-model="msg">
            </div>
          </div>
          <div class="m-2">
            <a href="#">
              <i class="fas fa-paper-plane"></i>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>