<div id="welcome">
  <div class="container-fluid">
    <div class="row" style="height:100vh;">
      <div id="sideNav" class="col-md-2 col-12" style="background-color:#454545;">
        <div class="sticky-top">
          <div class="row mt-5">
            <div id="discussions" class="col-12">
              <p class="m-0" v-for="discussion in discussions">
                <a :class="[discussion.discussion.status ? 'm-0 text-white' :'m-0 text-white-50']" href="#" @click="switchDiscussion(discussion.discussion.id)"><strong>{{(discussion.discussion.title) ? discussion.discussion.title : discussion.discussion.id}}</strong>
                  <!-- <sup><span :id="discussion.discussion.id" class="text-warning"></span></sup> -->
                  <sup><span :id="discussion.discussion.id" class="text-warning" v-if="discussion.unreadMessages>0">{{discussion.unreadMessages}}</span></sup>
                </a>
              </p>
            </div>
          </div>
          <div class="row mt-1">
            <div id="actions" class="col-12">
              <form v-on:submit.prevent="newDiscussion">
                <button class="btn btn-primary" type="submit" name="button"><i class="fas fa-plus"></i> New Discussion</button>
              </form>
            </div>
          </div>
          <hr>
          <div class="row">
            <div id="onlineUsers" class="col-12">
              <p class="m-0" v-for="(user, index) in users">
                <a class="m-0 text-white" href="#"><strong>{{user.fullName}}</strong>
                  <!-- <sup><span :id="discussion.discussion.id" class="text-warning"></span></sup> -->
                  <sup><span :id="'user'+user.id" :class="[user.connexionStatus=='online' ? 'text-success' : 'text-secondary']"><i class="fas fa-circle"></i></span></sup>
                  <span class="font-weight-light font-italic" :id="'userLastSeenAt'+user.id" v-if="user.connexionStatus=='offline'"></span>
                </a>
              </p>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-md-10 col-12" style="margin-bottom:62px;">
        <template v-if="currentDiscussion!==''">
          <div class="row">
            <div id="title" class="col-md-7 col-12">
              <form v-on:submit.prevent="newTitle">
                <div class="row">
                  <span class="col-auto">
                    <h4>Discussion : </h4>
                  </span>
                  <span class="col-auto d-flex" v-if="!setTitle">
                    <h4 class="mr-3">{{currentDiscussion.discussion.title ? currentDiscussion.discussion.title : currentDiscussion.discussionId}}</h4>
                    <a href="#" class="text-dark align-self-center" @click="setTitle=true"><i class="fas fa-pen"></i></a>
                  </span>
                  <div class="col-auto d-flex" v-else>
                    <input id="title" type="text" class="form-control" name="title" :value="currentDiscussion.discussion.title" v-model="currentDiscussion.discussion.title">
                    <button class="btn btn-primary" type="submit" name="button">Save</button>
                  </div>
                </div>
              </form>
            </div>
            <div id="members" class="col-md-3 col-6">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Members
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form v-on:submit.prevent="postUsersToAdd">
                    <span>Add : </span>
                    <span>
                      <select class="" name="" v-on:change="pushUserToAdd">
                        <option :value="user.fullName" v-for="user in users">{{user.fullName}}</option>
                      </select>
                      <input type="text" name="" value="" v-model="inputUsersToAdd">
                    </span>
                    <span>
                      <button type="submit" class="rounded bg-primary" style="height:29px;" name="button">ADD</button>
                    </span>
                  </form>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" v-for="member in currentDiscussion.members">{{member.user.fullName}}</a>
                </div>
              </div>
            </div>
            <div id="discussionStatus" class="col-md-2 col-6">
              <button class="btn btn-danger" type="button" @click="closeDiscussion">
                <i class="fas fa-times-circle"></i> Terminer la discussion
              </button>
            </div>
          </div>
          <div class="row">
            <div id="messages" class="col-12">
            </div>
          </div>
          <div class="row fixed-bottom">
            <div class="offset-md-2 col-md-10 col-12">
              <form v-on:submit.prevent="sendMsg" v-if="currentDiscussion.discussion.status">
                <div class="d-flex p-1">
                  <div class="flex-grow-1">
                    <div class="form-group">
                      <textarea id="idInput" rows="1" class="form-control" name="msg" :value="msg" v-model="msg" @keyup.enter="sendMsg"></textarea>
                    </div>
                  </div>
                  <div class="">
                    <button class="btn btn-primary" type="submit" name="button"><i class="fas fa-paper-plane"></i> Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="row" style="height:100%;">
            <div class="col-12 text-center align-self-center">
              <i id="arrow" class="fas fa-arrow-left fa-5x"></i>
              <h3> Selectionne une discussion </h3>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>